.title{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.card{
    text-align: center;
    margin-bottom: 20px;
}

.headline{
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 40px;
}

.product {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right:10px;
}